*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 30px 200px;
    border: 2px solid whitesmoke;
}

.item2{
    display:flex;
    justify-content:flex-end;
    gap: 50px;
    
}

.item2 a{
    text-decoration: none;
    color: #666;
    font-family: Arial;
}
.hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.hero-section img{
    padding-top:50px;
    width: 800px;
}
.hero-section button{
    text-decoration: none;
    width: 200px;
    height: 50px;
    background-color: #387ed1;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}

.section1{
    display: flex;
    padding: 30px 200px;

}

.section1 img{
   height: 600px;
}

.item1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.item1 h3{
    margin-bottom: 15px;
}

.item1 span{
    color: blue;
}

.section1 .item2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

 .section1 .item2 a{
    text-decoration: none;
    color: blue;
    margin-right: 20px;

}




.section2{
    padding: 50px 200px;
    display: flex;
    justify-content: center;
}

.section2 img{
    height: 50px;
}

.section3{
    display: flex;
    padding: 30px 200px;
}
.section3 .left p{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 300px;
}
.section3 img{
    height:100px;
}


.section3 .right {
    display:flex;
    align-items: center;
}

.left a{

    text-decoration: none;
    color: blue;
}

.section4{
    display: flex;
    padding: 30px 200px;
    gap: 120px;
    align-items: center;
}

.section4 a{
    text-decoration: none;
    color: #387ed1;
    
}
.setion4 img{
    height: 150x;
}

.section4 p{
    width: 500px;
    margin-bottom: 20px;
    margin-top: 25px;
}

.section5{
    padding: 70px 200px;
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: 40px;
    border-bottom: 2px solid whitesmoke;
}



.section5 button{
    text-decoration: none;
    width: 200px;
    height: 50px;
    background-color: #387ed1;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
}

.section5 button:hover{
  background-color: black;
}

.footer img{
    height: 20px;
}
.footer{
    display: flex;
    padding: 30px 200px;
    gap: 70px;
}

.footer .right{
    display: flex;
    gap: 100px;

}
ul {
    list-style: none;  
    width:120px;
}
ul li {
    margin-bottom: 12px;
    color: #666;
    font-size: 16px;
}
.footer .right h2{
    margin-bottom: 20px;
}
.social-icons a i {
  color: #555;   /* default color */
  font-size: 20px;
}

.social-icons a i:hover {
  color: #0077b5; /* hover color */
}

.left img{
    margin-bottom: 10px;
}

.left p{
    font-size: 13px;
   

}
.social-icons{
    margin-top: 20px;
    margin-bottom: 15px;
    border-bottom: 2px solid whitesmoke;
}
.last {
    padding:30px 200px;
    
}
.last p{
    font-size: 14px;
    margin-bottom: 15px;
    color: #666;
}

.last .bar{
    display: flex;
    gap: 20px;
    justify-content: center;

}
.bar a{
    
    text-decoration: none;
    color: #666;
    font-size: 16px;
}